
.dialog {
  color: black;

  &__header {


    &__title {
      margin: 0;
      color: purple;
    }
  }

  &__content {
    // overload default material stoopid spacing
    padding: 0;
    margin: 0;

    &--padding {
      padding: rem(20) rem(20);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: rem(20);
    margin: 0;
  }

  &--admin &__header {
    background-color: blue
  }
}
